<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>测试代码</title>
  <link rel="shortcut icon" sizes="16x16" href="src/images/favicon_16.ico">
  <link rel="shortcut icon" sizes="32x32" href="src/images/favicon_32.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <div id="app">
    <input id="target_file" type="file" />
    <p id="read_process" ></p>
    <canvas id="target_canvas" width="100" height="100">
      浏览器不支持此功能，请升级
    </canvas>
    <a id="download_file" href="/images/myw3schoolimage.jpg" download="w3logo">下载图片</a>
  </div>
</body>

</html>
